@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: 0;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77,181,255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transitition: all 400ms ease;

  --font-size: 40px;
  --letter-spacing: 0.0625em; 
  --letter-count: 20;
  --transition-time: 3s;
  --bg-color: #eff5ed;
  --mask-color: #eff5ed;
  --font-color: #152860;

  --letter-size: calc(1ch + #{$letter-spacing});
  --cursor-width: 1px;
  --cursor-blink-duration: $letter-count;
  --font-width: calc(#{--letter-count}ch + #{--letter-count}*#{$letter-spacing});
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 5rem;
}

.main-content {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

li {
  color: var(--color-primary);
  transition: var(--transitition);
}

li:hover {
  color: var(--color-white);
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transitition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.hello {
  border-right: 2px solid rgba(255, 255, 266, 0.75);
  margin-top: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
}

.blink-cursor {
  animation: blinkCursor 800ms infinite normal, typingHello 4s steps(40) 1s normal;
}

@keyframes typingHello {
 from {
  width: 0;
 }
 to {
  width: 529px;
 }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 266, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: var(--color-bg-variant);
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav > ul > li {
  margin-left: 2vw;
  font-weight: bold;
}

.about_card {
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transitition);
  margin-bottom: 1rem;
}

.about_card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about_content {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.project {
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  width: 40%;
  padding: 2rem;
  transition: var(--transitition);
  margin-bottom: 1rem;
  text-align: center;
}

.project:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.projects a {
  color: var(--color-primary);
}

.img-project {
  width: 400px;
  border-radius: 20px;
}

.img-project:hover {
  transform: scale(1.1);
}

.tech ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.tech li {
  text-align: center;
  margin-left: 2rem;
}

.container.contact_container {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin-bottom: 2rem;
}

.contact_options {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.contact_option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 3px solid transparent;
  margin-left: 30px;
  transition: var(--transitition);
  width: 109%;
}

.contact_option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact_option_icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.contact_option a:visited {
  color: #0000EE;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* ====== MEDIA QUERIES ======= */

@media screen and (max-width: 1100px) {
  .container {
    width: var(--container-width-md);
  }

  .header__container {
    width: 100%;
    height: 123px;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  .header__container > div {
    margin-left: 10px;
  }

  .links-header {
    margin-right: 2rem;
  }

  .hello {
    width: var(--container-width-md)
  }

  section {
    margin-top: 6rem;
  }

  .img-project {
    width: 100%;
  }

  .project {
    width: 50%;
  }

  .container.contact_container {
    margin-left: 24%;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .header__container {
    width: 100%;
    height: 120px;
    font-size: small;
  }

  .header__container > div {
    margin-left: 10%;
  }

  .links-header {
    margin-right: 10%;
  }

  .main-content {
    margin-top: 9rem;
  }

  .hello {
    width: 280px;
    font-size: 20px;
  }

  section > h2 {
    margin-bottom: 2rem;
  }

  .project {
    width: 60%;
  }

  .tech li {
    gap: 2%;
  }

  .contact_option {
    width: 88%;
    margin-right: 10px;
  }

  form {
    width: 82%;
  }

  .container.contact_container {
    width: 80%;
    margin-left: 12%;
  }
}